<body>
  <div class="head">
    <div class="head-content">
      <h2>User Directory</h2>
      <button class="addUserBtn btn btn-primary" data-toggle="modal" data-target="#addUser">
        <i class="fas fa-plus-circle"></i>
        Add new User</button>
    </div>
  </div>
  <!-- pop up for adding user -->
  <div class="modal fade" id="addUser" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" #closeBtn>&times;</button>
        <h4 class="modal-title">Add new User</h4>

        <div class="modal-body">
          <form (ngSubmit)="addUser(adduserform)" #adduserform="ngForm">
            <div class="profile-container">
              <img src="http://www.venmond.com/demo/vendroid/img/avatar/big.jpg" alt="profile-image" class="profile-img">
            </div>

            <div class="form-group name">
              <label for="userName">User Name</label>
              <input ngModel name="name" required type="text" class="form-control" id="userName">
            </div>
            <div class="form-group address">
              <label for="address">Address</label>
              <input ngModel name="address" required type="text" class="form-control" id="address">
            </div>
            <div class="form-group contact">
              <label for="contact">Contact</label>
              <input ngModel name="contact" required type="text" class="form-control" id="contact">
            </div>
            <div class="form-group email">
              <label for="email">Email</label>
              <input ngModel name="email" email required type="email" class="form-control" id="email">
            </div>
            <button type="submit" [disabled]="!adduserform.valid" class="btn addUsrSubmit">Submit</button>
          </form>
        </div>
      </div>

    </div>
  </div>


  <!-- pop up for updating user -->
  <div class="modal fade" id="editUser" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" #closeBtnEdit>&times;</button>
        <h4 class="modal-title">Edit User</h4>

        <div class="modal-body">
          <form (ngSubmit)="editUser(edituserform)" #edituserform="ngForm">
            <div class="profile-container">
              <img src="http://www.venmond.com/demo/vendroid/img/avatar/big.jpg" alt="profile-image" class="profile-img">
            </div>


            <div class="form-group name">
              <label for="userName">User Name</label>
              <input [ngModel]="edtName" name="name" required type="text" class="form-control" id="edtuserName">
            </div>
            <div class="form-group address">
              <label for="address">Address</label>
              <input [ngModel]="edtAddress" name="address" required type="text" class="form-control" id="edtaddress">
            </div>
            <div class="form-group contact">
              <label for="contact">Contact</label>
              <input [ngModel]="edtContact" name="contact" required type="text" class="form-control" id="edtcontact">
            </div>
            <div class="form-group email">
              <label for="email">Email</label>
              <input [disabled]="true" [ngModel]="edtEmail" name="email" email required type="email" class="form-control" id="edtemail">
            </div>
            <button type="submit" [disabled]="!edituserform.valid" class="btn addUsrSubmit">Submit</button>
          </form>
        </div>
      </div>

    </div>
  </div>

  <!-- user table -->

  <div class="usrTable">
    <div class="table">
        <div class = "crow">
          <div class = "ccol usern">USER NAME</div>
          <div class = "ccol addr">ADDRESS</div>
          <div class = "ccol cont">CONTACT</div>
          <div class = "ccol emai">EMAIL</div>
          <div class = "ccol empt"></div>
        </div>
        <div *ngFor="let user of users; let i = index" class="crow user">
          <div class = "ccol usern">
            <img src="http://www.venmond.com/demo/vendroid/img/avatar/big.jpg" class="img-circle lf" width="30px" height="30px"> 
            <div class = "ccol">{{user.name}}</div>
          </div>
          <div class = "ccol addr">{{user.address}}</div>
          <div class = "ccol cont">{{user.contact}}</div>
          <div class = "ccol emai">{{user.email}}</div>
          <div class = "ccol empt">
            <div class="options">
              <div class="dots" id={{i}} (click)="showmenu(i)">
                <i class="fas fa-ellipsis-v"></i>
              </div>
              <div class="menu {{i}}" *ngIf="check(i)" #menu{{i}}>
                <ul>
                  <li class="{{i}}" data-toggle="modal" data-target="#editUser" (click)="updateEditVal($event)">
                    <div class="icon">
                      <i class="fas fa-edit"></i>
                    </div>
                    <div class="label">
                      Edit User Details
                    </div>
                  </li>
                  <li class="{{i}}" (click)="deleteUser(user.email)">
                    <div class="icon">
                      <i class="fas fa-trash"></i>
                    </div>
                    <div class="label">
                      Delete User
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>

    </div>


    </div>
</body>
