
*{
    align-content: center;
}
/*profile picture only*/
body{
    background-color: #FAFAFA;
    height:100vh;
}

/* pop up is giving the borders so */
.modal-header, .modal-footer{
    border: none;
}


.head{
    height: 70px;
    line-height: 70px;
    background-color: #fff;
    top:0px;
    
    color: #000;
    box-shadow: 0 10px 10px -15px #000000;

}

.head-content{
    margin-left:170px;
    position: relative;
}
.head h2{
    font-weight: bold;
}
.addUserBtn{
    right: 170px;
    top:0px;
    position: absolute;
    background-color: #3A61EB;
    padding: 5px 8px;
   
   
}
.modal-content{
    background-color: #FAFAFA;
    padding: 50px;
}

/* red border to invalid form input */
input.ng-invalid.ng-touched{
    border: 1px solid red;
}

.form-group{
    display: inline-block;
    margin: 6px;
}

.name.form-group{
    width: 65%;
    top: -60px;
    position: relative;
}
.addUsrSubmit{
    display: block;
    width: 100%;
    background-color: #3A61EB;
    color: #fff;
}

.address.form-group{
    width: 65%;
    top:-40px;
    left:25%;
    position: relative;
}

.addUsrSubmit[disabled]{
    background-color: lightblue;
}


th{
    color:#E0E0E0;
}

.table>tbody>tr>td, .table>tbody>tr>th {
    border:0px;
}

.profile-container{
    width:20%;
    height:100px;
    background-color: #fff;
    position: relative;
    display: inline-block;
    margin-right:20px;
}

.profile-img{
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    width:75%;
    height:75%;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

h1{
    display: inline-block;
}

.usrTable{
    background-color: #fff;
    top:50px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border:none;
}

img{
    border-radius: 20px;
}

/* options dots */
.dots{
    background-color: #FAFAFA;
    width: 25px;
    height: 25px;
    line-height: 25px;
    display: block;
    cursor: pointer;
}
.dot {
    height: 5px;
    width: 5px;
    background-color: #B2B2B2;
    border-radius: 50%;
    display: inline-block;
    
  }
.options{
    position: relative;
}
.menu{
    box-shadow: #B2B2B2 0px 0px 10px;
    background-color: #fff;
    display: none;
    position: absolute;
    top:-15px;
    left: -140px;
    text-align: center;
    align-content: center;
}

.fa-edit{
    color:#E0E0E0;
}
.fa-trash{
    color: red;
}
.menu li{
    cursor: pointer;
    list-style: none;
}
 .menu ul{
    padding: 10px 10px 10px 10px;;
 }